@import '~/assets/css/tailwind.scss';

.work-multiple {
  @apply rounded-lg shadow-lg;
  box-shadow: 4px 4px 0px 0px var(--button) !important;
  -webkit-box-shadow: 4px 4px 0px 0px var(--button) !important;
  -moz-box-shadow: 4px 4px 0px 0px var(--button) !important;
}

.work-view {
  @apply hidden overscroll-none;
}

.work-container {
  @apply flex overflow-hidden md:overflow-y-auto overscroll-none flex-col justify-between h-full text-left rounded-md;

  .left-side {
    @apply overflow-hidden overscroll-none w-full lg:pr-6;

    .image-list {
      @apply mb-2 rounded-md;
      
      .image {
        @apply mx-auto w-full rounded shadow-none;
      }
    }
    
    .interactions {
      @apply flex flex-row justify-between mb-6;

      .reaction-counters {
        .counter {
          @apply mr-3 whitespace-nowrap;

          .icon {
            @apply mr-1 text-lg text-gray-400 align-middle transition-all hover:text-gray-400;
          }

          span {
            @apply align-middle;
          }
        }
      }

      .reactions {
        span {
          @apply ml-2 whitespace-nowrap;

          .icon {
            @apply ml-1 text-xl align-middle transition-all cursor-pointer;
          }
        }
      }
    }
  }

  .right-side {
    @apply overscroll-none pb-10 mb-10 w-full lg:w-7/12 md:mb-0;

    .comments {
      @apply overscroll-none mt-4;

      .comment-box {
        @apply mb-2;

        textarea {
          @apply w-full border-none appearance-none form-input focus:outline-none focus:appearance-none focus:border-none;
        }
      }

      .comment-content {
        @apply z-0;

        .comment-order {
          @apply flex justify-end mb-4 w-full;

          button {
            @apply py-2 px-3 underline rounded-sm cursor-pointer;
          }
        }

        .comment-item {
          @apply mb-2 hover:z-10;

          .comment-time {
            @apply italic text-xxs;
            color: var(--link);
          }

          .reactions {
            @apply flex z-50 flex-row justify-between w-full;

            .reaction {
              @apply flex ml-3 leading-5;

              .icon {
                @apply mr-1 text-xl cursor-pointer;
              }
            }
          }
        }
      }
    }
  }
}

.artist-works {
  @apply flex-col;

  .heading {
    @apply flex justify-between font-bold text-tiny default-heading-text-size;

    .icon {
      @apply font-bold cursor-pointer default-icon-size;
    }
  }

  .works {
    @apply grid w-full;

    .work-thumbnail {
      @apply object-cover mt-2 shadow-lg transition-all duration-200 cursor-pointer hover:shadow-xl hover:-translate-y-1;
    
      a {
        p {
          @apply absolute m-2 w-5 h-5 text-center text-white align-middle bg-gray-600 bg-opacity-70 rounded-sm;
        }
        img {
          @apply object-cover object-top w-full rounded-md;
          aspect-ratio: 1/1;
        }
    
        .related {
          @apply object-cover object-top w-full rounded-md;
          aspect-ratio: 1/1;
        }
      }
    }
  }

  .pagination-controller {
    @apply flex flex-row justify-end mt-4 -mr-2;

    span {
      @apply p-0 mr-1 cursor-pointer;
    }

    .icon {
      @apply text-lg md:text-2xl;

      &:hover {
        color: var(--icon-color);
      }
    }
  }
}

.redraw-works {
  @apply grid grid-cols-4 gap-2 w-full;

  .work-thumbnail {
    @apply object-cover shadow-lg transition-all duration-200 cursor-pointer hover:shadow-xl hover:-translate-y-1;
  
    a {
      p {
        @apply absolute m-2 w-5 h-5 text-center text-white align-middle bg-gray-600 bg-opacity-70 rounded-sm;
      }
      img {
        @apply object-cover object-top w-full rounded-md;
        aspect-ratio: 1/1;
      }
  
      .related {
        @apply object-cover object-top w-full rounded-md;
        aspect-ratio: 1/1;
      }
    }
  }
}

.info {
  @apply mb-4;

  .modal-close {
    @apply float-right ml-2 text-2xl cursor-pointer;
  }

  .user-info {
    @apply flex flex-row justify-between mb-4;

    .avatar {
      @apply object-cover mr-3 w-10 h-10 rounded-md;
      aspect-ratio: 1/1;
    }

    .name {
      .fullname {
        @apply font-bold text-tiny;
      }
      .username {
        @apply text-xs;
      }
    }
  }
  
  .creator-publish {
    @apply flex flex-row justify-between mb-2 align-middle;
  }
  .tags {
    @apply flex flex-wrap;

    .tag {
      @apply py-1 px-2 text-white rounded transition-all duration-150 button-color;
    }

    .suggest {
      @apply px-3 mr-1 rounded transition-all duration-150 theme-color;

      .icon {
        @apply text-black align-middle;
      }

      &:hover {
        @apply text-black bg-gray-300;
      }
    }

    span {
      @apply mr-1 mb-1 transition-all duration-100 cursor-pointer text-colored;
    }
  }
}