:root {
  --loading-indicator-color: #a091ff;

  --wave-primary: #002B34;
  --wave-secondary: #002B34;

  --bg: linear-gradient(to right, #cffafe, #d3f7ff, #d9f4ff, #e0f0ff, #e7edff, #ebedff, #eeecfe, #f2ecfd, #f2eefb, #f3f1f9, #f4f3f7, #f5f5f5);
  --theme-color-bg: #f3f3f3;
  --theme-color: #ffffff;
  --theme-color-secondary: #f3f3f3;
  --bg-tag: #ffffff;
  --icon-color: #7865F8;
  --theme-text-color: #000000;
  --theme-text-color-secondary: #4d4d4d;
  --theme-text-color-reverse: #ffffff;
  --text-color-dimmed: #a2a2a2;
  --danger-color: #ffe0e0;

  --button: #7865F8;
  --button-secondary: #ebebeb;
  --button-disabled: #9e90ff;
  --button-hover: #6853f5;
  --button-border: #6853f5;
  --button-border-hover: #6853f5;
  --button-text: #ffffff;
  --button-text-hover: #ffffff;

  --icon: #5e5e5e;
  --icon-hover: #6853f5;

  --link: #a0a0a0;
  --link-hover: #000000;

  --read-more-color: #3b82f6;

  --border-light: #f2f2f2;
  --border-bold: #dedede;
  --border-colored: #cac2ff;

  --button-light: #ffffff;
  --button-light-border: #dddddd;

  --input-bg: #ffffff;
  --input-border: #dddddd;
  --input-placeholder-color: #a9a9a9;
  
  --modal-color: #ffffff;

  --toggle-background-color: #cccccc;

  --quill-toolbar-background: #f3f3f3;
}

.dark-mode {
  --loading-indicator-color: #72a8ff;

  --wave-primary: rgb(36, 48, 68);
  --wave-secondary: #27213c;

  --bg: #11142b;
  --theme-color-bg: #11142b;
  --theme-color: #242634;
  --theme-color-secondary: #303139;
  --bg-tag: #404040;
  --icon-color: #e8e8e8;
  --theme-text-color: #e8e8e8;
  --theme-text-color-secondary: #bfbfbf;
  --theme-text-color-reverse: #000000;
  --text-color-dimmed: #bababa;
  --danger-color: #982626;

  --button: #3b82f6;
  --button-secondary: #494949;
  --button-disabled: #6d8aba;
  --button-hover: #2563eb;
  --button-border: #2563eb;
  --button-border-hover: #2563eb;
  --button-text: #ffffff;
  --button-text-hover: #ffffff;

  --icon: #acacac;
  --icon-hover: #ffffff;

  --link: #a0a0a0;
  --link-hover: #ffffff;

  --read-more-color: #65a0ff;

  --border-light: #4f4f4f;
  --border-bold: #434343;
  --border-colored: #8e9fba;

  --button-light: #383838;
  --button-light-border: #383838;

  --input-bg: #242633;
  --input-border: #242633;
  --input-placeholder-color: #242633;

  --modal-color: #2b2b2b;

  --toggle-background-color: #242633;

  --quill-toolbar-background: #bfbfbf;
}