@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  * {
    font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  }

  .inter {
    font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif !important;
  }

  // scrollbar style
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-button {
    @apply w-0 h-0;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full border-none;
    background: var(--button);
  }
  ::-webkit-scrollbar-thumb:hover {
    // @apply bg-white;
  }
  ::-webkit-scrollbar-thumb:active {
    // @apply bg-black;
  }
  ::-webkit-scrollbar-track {
    @apply rounded-full border-none;
    background: var(--theme-color-secondary);
  }
  ::-webkit-scrollbar-track:hover {
    background: var(--theme-color-secondary);
  }
  ::-webkit-scrollbar-track:active {
    // @apply bg-gray-700;
  }
  ::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }
  
  html {
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    // -webkit-user-select: none;
    // -khtml-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none;
  }
  
  body {
    @apply p-0 m-0 h-screen antialiased;
    background: var(--bg);
    color: var(--theme-text-color)
  }

  section {
    @apply flex flex-col gap-2;
  }
  
  form {
    @apply flex flex-col gap-2 w-full;

    n-validate {
      label {
        @apply inline-block mt-2 mb-2 title-tiny;
      }

      input, textarea {
        @apply p-3 w-full text-xs rounded border-none focus:ring-transparent input-bg focus:outline-none;
      }

      .input-error {
        @apply -mt-3 bg-red-500 input-alert;
      }
    }

    input[type=submit] {
      @apply mt-2 w-full primary-button;
    }

    .buttons {
      @apply flex flex-row gap-2 justify-between md:justify-end;

      .reset {
        @apply flex flex-row w-full light-button md:w-auto;
      }

      .cancel {
        @apply flex flex-row w-full cancel-button md:w-auto;
      }

      .submit {
        @apply flex flex-row gap-2 w-full md:w-auto primary-button;
      }
    }
  }

  input, textarea {
    @apply focus:outline-none;
  }

  p {
    a {
      @apply href;
    }
  }

  .work-thumbnail {
    @apply object-cover mt-2 shadow-lg transition-all duration-200 cursor-pointer hover:shadow-xl hover:-translate-y-1;
  
    a {
      .mini-icon {
        @apply flex absolute flex-row gap-1 justify-start m-2;

        p.regular {
          @apply w-5 h-5 text-xs font-bold text-center text-white align-middle bg-gray-600 bg-opacity-70 rounded-md;
        }
        p.redraw {
          @apply w-5 h-5 text-center text-white align-middle bg-blue-500 bg-opacity-100 rounded-md;

          .icon {
            @apply text-white;
          }
        }
        p.original-character {
          @apply w-5 h-5 text-center text-white align-middle bg-emerald-600 bg-opacity-100 rounded-md;

          .icon {
            @apply text-white;
          }
        }
        p.gore {
          @apply w-5 h-5 text-xs font-bold text-center text-white align-middle bg-red-500 bg-opacity-70 rounded-md;
        }
      }
      
      img {
        @apply object-cover object-top w-full rounded-md;
        aspect-ratio: 1/1;
      }
  
      .related {
        @apply object-cover object-top w-full rounded-md;
        aspect-ratio: 1/1;
      }
    }
  }
}

@layer components {
  .loading-indicator-color {
    background: var(--loading-indicator-color);
  }
  
  .theme-color-bg {
    background: var(--theme-color-bg);
  }
  .theme-color {
    background: var(--theme-color);
    color: var(--theme-text-color);
  }
  .text-color {
    color: var(--theme-text-color);
  }
  .theme-color-secondary {
    background: var(--theme-color-secondary);
    color: var(--theme-text-color);
  }
  .border-color-button-color {
    border-color: var(--button);
  }
  .border-color-primary {
    border-color: var(--border-colored);
  }
  .border-color-secondary {
    border-color: var(--theme-color-secondary);
  }
  .border-color {
    border-color: var(--border-light);
  }
  .border-light {
    border-color: var(--border-light);
  }
  .border-b-red {
    border-bottom: red !important;
  }

  .text-color-dimmed {
    color: var(--text-color-dimmed);
  }
  .text-color-secondary {
    color: var(--theme-text-color-secondary);
  }

  .theme-colored {
    @apply text-white;
    background: var(--button);

    .icon {
      @apply text-white;
    }
  }
  .text-colored {
    color: var(--button);
  }

  .text-color-reverse {
    color: var(--theme-text-color-reverse);
  }

  .bg-tag {
    @apply text-color;
    background: var(--bg-tag);
  }

  .bg-danger {
    background: var(--danger-color);
    color: var(--theme-text-color);
  }

  .modal-color {
    background: var(--modal-color);
    color: var(--theme-text-color);
  }

  .button-color {
    background: var(--button);
    color: var(--button-text);

    .icon {
      @apply text-white;
    }
  }
  .button-color:hover {
    background: var(--button-hover);
  }
  .button-color-secondary {
    background: var(--button-secondary);
  }

  .button-text-color {
    color: var(--button-text);
  }
  .button {
    background: var(--button);
    border-color: var(--button);
    color: var(--button-text);
  }
  .button-hover {
    background: var(--button-hover);
    border-color: var(--button-border-hover);
    color: var(--button-text);
  }

  .button-light {
    background: var(--button-light);
    border-color: var(--button-light-border);
  }
  .button-light:hover {
    background: var(--button-hover);
  }

  .icon {
    @apply cursor-pointer;
  }
  .icon-color {
    color: var(--icon);
  }
  .icon-color:hover {
    color: var(--icon-hover);
  }
  .icon-color-active {
    color: var(--icon-hover);
    border-color: var(--button);
  }

  .icon-hover-parent {
    &:hover, &:active {
      .icon {
        @apply text-white;
      }
    }
  }

  .link-color {
    color: var(--link);
  }
  .link-color:hover {
    color: var(--link-hover);
  }

  .title {
    @apply text-base font-bold;
  }
  .title-tiny {
    @apply font-semibold text-tiny;
  }

  .b-button {
    @apply inline-flex flex-row justify-center py-2 px-3 rounded border-2 border-transparent shadow-none transition-all duration-200 ease-in-out cursor-pointer parent-icon hover:shadow-md;
  }

  .primary-button {
    @apply b-button button hover:button-hover;

    .icon {
      @apply mr-2 text-white;
    }
  }

  .primary-button-border-only {
    @apply flex flex-row justify-center py-2 px-3 rounded border-2 shadow-none transition-all duration-200 ease-in-out cursor-pointer theme-color-secondary parent-icon hover:shadow-md;
    border-color: var(--button-border);
    
    .icon {
      @apply mr-2 text-color;
    }
  }

  .cancel-button {
    @apply light-bordered-button;
  }

  .danger-button-color {
    @apply text-white bg-red-500 hover:bg-red-600;

    .icon {
      @apply text-white;
    }
  }

  .danger-button {
    @apply b-button theme-color-secondary danger-button-color hover:text-white parent-icon;

    .icon {
      @apply mr-2 text-white;
    }
  }

  .light-button {
    @apply b-button button-light hover:theme-colored hover:text-white;

    .icon {
      @apply mr-2;
    }
  }

  .light-bordered-button {
    @apply flex flex-row justify-center p-2 text-center rounded-md border-2 cursor-pointer w-fit border-color-button-color hover:theme-colored theme-color;

    .icon {
      @apply mr-2 text-colored hover:text-white;
    }
  }

  .secondary-button {
    @apply b-button theme-color-secondary hover:theme-colored hover:text-white;

    .icon {
      @apply mr-2;
    }
  }

  .disabled-button {
    @apply text-white border-2 cursor-not-allowed pointer-events-none b-button;
    background-color: var(--button-disabled);

    .icon {
      @apply mr-2 text-white;
    }
  }

  .reset-form-button {
    @apply secondary-button hover:text-white;

    .icon {
      @apply mr-2;
    }
  }

  .action-button {
    @apply flex flex-row border-2 border-transparent parent-icon hover:text-white;
  }

  .icon-button {
    @apply p-2 ml-2 leading-3 rounded-md cursor-pointer theme-color-secondary hover:button hover:rounded-md;
  }
  .icon-button:hover .icon {
    @apply text-white;
  }

  .icon-button-primary-color {
    @apply p-2 ml-2 leading-3 rounded-md cursor-pointer button hover:rounded-md;

    .icon {
      @apply text-white;
    }
  }

  .category-button {
    @apply py-2 px-3 m-0 w-full font-medium text-center transition-all duration-200 cursor-pointer button-light md:w-auto;
  }
  .category-button:hover {
    @apply shadow-md button-hover;
  }
  
  .category-button-secondary {
    @apply flex flex-row py-2 px-4 mr-2 mb-2 font-medium leading-5 rounded ring-offset-2 transition-all duration-200 cursor-pointer parent-icon hover:button hover:text-white;
  
    &:hover span {
      @apply theme-color;
    }
  }

  .input-border {
    @apply border border-gray-200 dark:border-transparent;
  }

  .input {
    @apply focus:ring-transparent;
    background: var(--input-bg);
  }
  .input-bg {
    background: var(--input-bg);
  }

  .input-alert {
    @apply px-3 pt-5 pb-2 mb-2 -mt-5 w-full text-white rounded-b border-none;
  }
  .input-success {
    @apply bg-green-500 input-alert;
  }

  .textarea {
    background: var(--theme-color-secondary) !important;
  }

  .form-input {
    @apply p-3 mb-2 w-full text-xs rounded border-none focus:ring-transparent;
  }
  
  /** Loading, empty or error occured */
  .loading-empty-error-message {
    @apply p-4 w-full text-center rounded-md;
  }

  .login-button {
    @apply py-3 mt-4 w-full;
  }

  .custom-divider {
    @apply my-2 w-full border-b;
    border-color: var(--border-bold);
  }

  .dropdown:focus-within .dropdown-menu {
    opacity: 1;
    transform: translate(0) scale(1);
    visibility: visible;
  }

  .animated {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .animated.faster {
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
  }

  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    
    @keyframes fadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }

  // modal
  .modal {
    @apply hidden overflow-hidden overscroll-none fixed inset-0 z-40 flex-row justify-center items-center p-2 w-full h-full md:p-6;
    background: rgba(0, 0, 0, .8);

    // taken from .modal.animated
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    // taken from .modal.animated.faster
    // -webkit-animation-duration: 200ms;
    // animation-duration: 200ms;

    // taken from .modal.fadeIn
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    // taken from .modal.fadeOut
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    @keyframes fadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }
  .modal.animated {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .modal.animated.faster {
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
  }
  .modal.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  .modal.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    
    @keyframes fadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }

  .profile-img-name {
    @apply cursor-pointer;

    img {
      @apply inline object-cover mr-1 w-6 h-6 rounded-full shadow-lg;
    }

    span {
      @apply font-semibold;
    }
  }
  
  .default-heading-text-size {
    @apply text-base;
  }

  .default-icon-size {
    @apply text-lg;
  }

  .href {
    color: var(--read-more-color);
    @apply cursor-pointer;
  }

  .href:hover {
    @apply font-bold text-blue-500;
  }
  
  .parent-icon:hover .icon {
    @apply md:text-white;
  }
  .parent-delete-icon:hover .icon {
    @apply text-red-500;
  }

  .unclickable {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .unselectable {
    user-drag: none;
    -webkit-user-drag: none;
  }

  .text-success {
    @apply italic font-bold text-green-500;
  }
  .alert-success {
    @apply py-2 px-3 mb-2 text-center text-white bg-green-500 rounded-md shadow-sm;
  }

  .alert-danger {
    @apply py-2 px-3 mb-2 text-center text-white bg-red-500 rounded-md shadow-sm;
  }

  .text-failure {
    @apply italic font-bold text-red-500;
  }

  .content-v-img {
    @apply pointer-events-none;
    pointer-events: none;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  // vue tags-input custom
  .tags-input {
    @apply form-input theme-color;
    margin-bottom: 0px !important;

    .tags-input-badge-pill {
      @apply my-1 rounded theme-color-secondary;
  
      span {
        @apply p-2;
      }
    }

    input {
      @apply p-0 text-xs focus:ring-transparent;
    }

    span {
      @apply py-2 px-1 my-1 mr-2;  

      span {
        @apply mr-4;
      }
    }
  }

  .badge {
    @apply py-1 px-2 w-auto text-xs align-middle rounded-md;
  }

  .wip-badge {
    @apply text-white bg-blue-400 cursor-not-allowed badge text-xxs;
  }

  .tags-input-wrapper-default, .tags-input {
    @apply border border-gray-300;
  }

  .profile-category-button {
    @apply flex flex-row py-2 px-4 mr-2 font-medium leading-5 rounded ring-offset-2 transition-all duration-200 cursor-pointer parent-icon hover:button hover:text-white;
  
    &:hover span {
      @apply theme-color;
    }
  }

  .modal-layer {
    @apply p-4 rounded theme-color;

    .title {
      @apply text-base font-bold;
    }
  }

  .counter-badge {
    @apply p-1 font-bold text-white rounded-md button-color;
  }

  .avatar {
    @apply object-cover rounded-md;
    aspect-ratio: 1/1;
  }

  .basic-card {
    @apply p-4 w-full rounded-md theme-color;
  }

  .hidden-md-flex {
    @apply hidden md:flex;
  }

  .flex-md-hidden {
    @apply flex md:hidden;
  }

  .hidden-lg-flex {
    @apply hidden lg:flex;
  }

  .art-list-view-paging-control {
    @apply flex flex-row gap-2 justify-between mt-4 w-full md:justify-end md:w-auto;

    button {
      @apply flex flex-row justify-between w-full md:w-auto;
    }
  }
  
  .datepicker-title {
    color: var(--button);
  }

  .datepicker-controls {
    button {
      @apply text-xs rounded-md;
    }

    .today-btn {
      background: var(--button);
    }
  }

  .datepicker-grid {
    .datepicker-cell {
      @apply font-normal;
    }

    .disabled {
      @apply text-gray-300;
    }

    .focused {
      @apply text-white hover:bg-gray-500;
      background: var(--button);
    }

    .next {
      @apply text-gray-600;
    }
  }

  span.ql-size-large {
    @apply text-lg;
  }

  .img-hover:hover {
    img, nuxt-img {
      @apply border-2 border-color-primary;
    }
  }

  .toggle {
    @apply w-9 h-5 dark:border-gray-600 rounded-full after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all;
    background: var(--toggle-background-color);
  }

  .interactions {
    @apply inline-flex flex-row justify-between mt-2 mb-6 w-full;

    &__left {
      @apply inline-flex flex-row gap-4;

      &__item {
        @apply inline-flex flex-row gap-1;
      }
    }

    &__items {
      @apply inline-flex flex-row gap-4;
    }

    &__item {
      @apply inline-flex flex-row gap-1 whitespace-nowrap;

      .icon {
        @apply text-xl align-middle transition-all cursor-pointer;
      }
    }
  }

  .ellipsis-menus {
    @apply inline-block relative z-20;

    button {
      @apply p-0 m-0;

      .icon {
        @apply icon-color;
      }

      img {
        @apply object-cover w-9 h-9 rounded-md shadow-lg;
      }
    }
    
    &__content {
      @apply invisible rounded-md opacity-0 transition-all duration-300 transform origin-top-right scale-95 -translate-y-2;
  
      &__wrapper {
        @apply absolute right-0 p-1 mt-2 w-56 rounded-md border shadow-lg origin-top-right cursor-pointer outline-none theme-color border-color-primary;
  
        a {
          @apply flex flex-row gap-2 justify-start py-2 px-3 w-full rounded-md transition-all duration-150 hover:button-color parent-icon hover:text-white;
        }
      }
    }
  }

  .must-login-alert {
    @apply p-4 w-full text-center rounded-md theme-color-secondary;
  }

  .text-left-counter {
    @apply absolute left-3 bottom-6 py-1 px-2 text-white rounded-md button-color;
  }
}

@layer utilities {}